{% for bean in beans %}
	<article>
	<h4><a href="/weblink/read?k={{ bean.key }}" class="read"><img src="/dir/img/icon-book.png" alt="Read" /> {{ bean.title }}</a></h4>
	<a href="{{ bean.url }}" class="external">{{ bean.url }}</a> <em>{{ bean.tags }}</em>
	<div class="meta">
	 <a href="/weblink/edit?k={{ bean.key }}" class="edit"><img src="/dir/img/edit.gif" alt="Edit" /></a>
	 <a href="/weblink/delete?k={{ bean.key }}" class="delete"><img src="/dir/img/mini-trash.png" alt="Read" /></a>
	</div>
	</article>
{% endfor %}
<script type="text/javascript">
$('input#searchbox').quicksearch('div#linkslist article');
$('a.read').colorbox({width:"90%", height:"90%", iframe:true, speed: 200});
$('a.edit').colorbox({width:"400px", height:"300px", iframe:true, speed: 200});
</script>