<html>
<head>
<link rel="stylesheet" href="/dir/css/style.css" type="text/css" media="screen" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
</head>
<body>
<p><span class="showhit counter">{{ hit }} hit</span> <span class="showread counter">{{ read }}% read</span></p>
<h1><a href='/weblink/visit?k={{ key }}' class="external" target="_parent">{{ title }}</a></h1>

<div>{{ content }}</div>
<script type="text/javascript">
$(document).bind('scroll', function(ev){ 
	var bottom = $(window).height() + $(window).scrollTop(); 
	var height = $(document).height(); 
	var percentage = Math.round(100*bottom/height); 
	parent.childScrollHandler('{{ key }}',percentage,{{ read }}); 
});
</script>
</body>
</html>