/****** COLOR & SIZE DEFINE *******

***********************************/

/******REDEFINED HTML ELEMENT******/
body{
	font-family: Helvetica, Arial, sans-serif;
	font-size: .9em;
	color: #4d4d4d;
	line-height: 1.4em;
}
h1,h2,h3,h4,h5 { 
	padding: 0 0 5px 0; 
	line-height: 1.5em;
}
h1{ font-size: 1.4em;}
h2{ font-size: 1.3em;}
h3{ font-size: 1.2em;}
h4{ font-size: 1.1em;}
h5{ font-size: 1.1em;}
p{ padding: 0 0 10px 0; overflow: hidden;}
a{ text-decoration: none;color: #3f91ce; }
a:hover{ text-decoration: underline; }
input.text{border: 1px solid #CCC; padding: 2px;margin: 0; border-radius: 3px;-moz-border-radius: 3px;line-height: 16px;font-size: 12px;}
input.button{border: 1px solid #666; background: #999; padding: 2px 5px;margin: 0; border-radius: 3px;-moz-border-radius: 3px; color: #FFF;line-height: 16px;font-size: 12px; cursor: pointer;}
input.button:hover{ background: #CCC; color: #000;}
ul{ margin: 0 0 10px 0 }
li{ margin:0 0 0 25px;  list-style: disc;  }
blockquote{
	font-style: italic; 
	padding: 0 10px;
	border-left: 2px solid #3f91ce;
	margin: 0 0 10px 25px; 
}
input.text{ border: 1px solid #999;}
td,th{
	padding: 5px;
	border-collapse: collapse;
	border: 1px solid #CCC;
}
th{
	background: #EEE;
}
/******LAYOUT ELEMENT******/
body{
}
#header{
	height: 20px;
	font-size: .9em;
	background: #000;
	color: #4098D8;
	position: absolute;
	top: 0;
	left: 0;
	right:0;
	padding:5px 10px;
}
#header h1{
	font-size: 1.3em;
	line-height: 1.3em;
	float: left;
}
#header h1 a{
	color: #4098D8;
}
#side{
	position: absolute;
	width: 200px;
	left: 0;
	top: 30px;
	bottom: 30px;
	background: #EEE;
	padding: 10px;
	overflow-x: hidden;
	overflow-y: auto;
}
#content{
	position: absolute;
	left: 220px;
	top: 30px;
	bottom: 30px;
	right: 0;
	overflow-x: hidden;
	overflow-y: scroll;
}
#footer{
	height: 20px;
	font-size: .8em;
	background: #000;
	color: #4098D8;
	position: absolute;
	bottom: 0;
	padding: 5px 10px;
	left: 0;
	right:0;
}
#header a, #footer a{
	color: #EEE;
}
a#bookmark{
	border-radius: 3px;
	-moz-border-radius: 3px;
	padding:1px 6px;
	border: 1px solid #ccc;
	background: #666;
	color: #ccc;
	cursor: move;
	font-size: .9em;
}
#bookmark:hover{
	text-decoration: none;
}
#addcategory_wrapper{
	display: none;
	padding: 0 10px 10px;
	width: 180px;
}
#do_addcategory{
	float: right;
	cursor: pointer;
}
#categorylist{
	border-top: 1px dashed #999;
	margin: 0 0 5px 0;
	overflow: hidden;
}
#categorylist li{
	list-style: none;
	margin: 0;
	padding: 0;
}
#categorylist a{
	display: block;
	font-size: .9em;
	line-height: 1.1em;
	padding: 5px 0 5px 20px;
	border-bottom: 1px dashed #999;
	color: #444;
	background: transparent url(/dir/img/folder_classic.png) no-repeat left center;
}
#categorylist a.readinglist{
	background: transparent url(/dir/img/folder_classic_type_document.png) no-repeat left center;
}
#categorylist a.allcalte{
	background: transparent url(/dir/img/folder_modernist.png) no-repeat left center;
}
#categorylist a:hover{
	background-color: #CCC;
	text-decoration: none;
}
#categorylist a.active{
	background: #CCC url(/dir/img/folder_classic_opened.png) no-repeat left center;
}

#categorylist a.allcalte.active{
	background: #CCC url(/dir/img/folder_modernist_opened.png) no-repeat left center;
}

#categorylist a.readinglist.active{
	background: #CCC url(/dir/img/folder_classic_opened_stuffed.png) no-repeat left center;
}
#content article{
	clear: both;
	border-bottom: 1px dotted #999;
	padding:5px 10px 10px 10px;
	margin: 10px;
}
#content article:hover{
	background: #F1F1F1;
}
.searchbar{
	float: right;
	padding: 10px 0;
}
#searchbox{
	width: 200px;
}
a.read{
	color: inherit;
}
.meta{
	float: right;
}
a.delete{
	color: #FF9B0A;
}
a.external{
	background: transparent url(/dir/img/external_link_icon.gif) no-repeat right center;
	padding: 0 18px 0 0;
}
.form{
	display: block;
	width: 90%;
	margin: 10px auto;
}
.form label{
	width: 30%;
	display: block;
	float: left;
}
.form input, .form select{
	width: 70%;
	float: left;
}
.form .button{
	width: auto;
	float: right;
}
.showhit,.showread{
	display: block;
	float: left;
}
.showdate{
	display: none;
}
.counter {
	display: inline-block;
	font: 700 9px "lucida grande", arial, sans-serif;
	color: #fff;
	text-decoration: none;
	line-height: 14px;
	height: 14px;
	padding: 0 3px;
	margin: 0 0 0 4px;
	width: 50px;
	overflow: hidden;
}

.counter:active {
	position: relative;
}

.counter:active{
	top: 1px;
}

.counter {
	background:
		-webkit-gradient(
		    linear,
		    0 0, 0 100%,
		    from(#b0d4e7),
		    to(#739eb7)
		);
	background:
		-moz-linear-gradient(
			#b0d4e7,
			#739eb7
		  );
	text-shadow: 0 1px 0 rgba(0,0,0,.3);
	text-align: center;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-box-shadow:
		inset 0 1px 1px rgba(0,0,0,.2),
		inset 0 1px 2px rgba(0,0,0,.3),
		0 1px 0 #fff;
	-moz-box-shadow: 
		inset 0 1px 1px rgba(0,0,0,.2),
		inset 0 1px 2px rgba(0,0,0,.3),
		0 1px 0 #fff;
}

.counter:hover {
	background:
		-webkit-gradient(
		    linear,
		    0 0,
		    0 100%,
    		from(#b6dbef),
    		to(#7daec9)
		);
	background:
		-moz-linear-gradient(
    		#b6dbef,
    		#7daec9
		);
}
.readcontent{
	padding: 15px;
	font-family: Georgia, Georgia, serif;
	font-size: 1.1em;
	color: #444;
	line-height: 1.5em;
}
.sortbar{
	margin: 0 10px 10px;
	overflow: hidden;
	border-bottom: 1px solid #CCC;
}
.sortlink{
	padding: 10px 0 0 0;
	float: left;
}
.sortlink li{
	list-style: none;
	margin: 0 5px 0 0;
	padding: 3px 10px;
	float: left;
	height: 16px;
	font-size: 12px;
	line-height: 16px;
	border: 1px solid #EEE;
}
.sortlink li button{
	cursor: pointer;
	vertical-align: middle;
}
button.arrowdown{
	height: 16px;
	width: 16px;
	background: transparent url(/dir/img/arrow_state_grey_expanded.png) no-repeat top center;
}
button.arrowdown:hover,button.arrowdown.active{
	background: transparent url(/dir/img/arrow_state_blue_expanded.png) no-repeat top center;
}
button.arrowup{
	height: 16px;
	width: 16px;
	background: transparent url(/dir/img/arrow_state_grey_collapsed.png) no-repeat top center;
}
button.arrowup:hover,button.arrowup.active{
	background: transparent url(/dir/img/arrow_state_blue_collapsed.png) no-repeat top center;
}
label.checkbox{
	float: left;
	width: auto;
	font-weight: normal;
}
input.checkbox{
	width: auto;
}
/******REUSABLE LAYOUT*******/
.fl_left{ float: left; }
.fl_right{ float: right; }
.clr { clear: both; }

/******REUSABLE ELEMENTS*******/

/********** LIBRARY ***********/

// Clearfix
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/* IE6 */ 
* html .clearfix {height: 1%;}
/* IE7 */
*:first-child+html .clearfix {min-height: 1px;}